name: Signed artifact deployment

on:
  workflow_call:
    inputs:
      environment:
        description: 'Github environment to use'
        default: deployment_ossrh
        required: false
        type: string
      repository:
        description: 'Maven repository (distribution management) for deploying the artifacts'
        default: ossrh
        required: false
        type: string
      profile:
        description: 'Maven profile for deployment'
        default: deployment-ossrh
        required: false
        type: string
    secrets:
      username:
        description: 'Username for deploying'
        required: true
      password:
        description: 'Password for deploying'
        required: true
      gpg-private-key:
        description: 'Private key for signing'
        required: true
      gpg-passphrase:
        description: 'Passphrase for signing'
        required: true

jobs:
  deploy:
    name: Deploy
    environment: ${{ inputs.environment }}
    concurrency:
      group: ${{ github.ref }}
      cancel-in-progress: true
    runs-on: ubuntu-latest

    steps:
    - name: Check-out
      uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: 'adopt'
        cache: 'maven'
        server-id: ${{ inputs.repository }}
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
        gpg-private-key: ${{ secrets.gpg-private-key }}
        gpg-passphrase: GPG_PASSPHRASE
    - name: Build
      run: mvn clean package -B -P ${{ inputs.profile }} -DskipTests
    - name: Deploy
      run: mvn deploy -B -P ${{ inputs.profile }} -DskipTests
      env:
        MAVEN_USERNAME: ${{ secrets.username }}
        MAVEN_PASSWORD: ${{ secrets.password }}
        GPG_PASSPHRASE: ${{ secrets.gpg-passphrase }}
